.footer {
  background-color: #4b73b5;
  color: #fff;
}
.footer__container {
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.footer__col {
  flex: 1;
  display: flex;
}
.footer__col--left {
  justify-content: flex-start;
}
.footer__col--center {
  justify-content: center;
}
.footer__col--right {
  justify-content: flex-end;
}

.footer__desc {

}

.footer__desc-link {
  color: inherit;
}

.logo--footer {

}
