.header {
  background-color: #4b73b5;
  color: #fff;
  margin-bottom: 26px;
}

.header__container {
  position: relative;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}