.promo {
  background: url(../../images/promo2.png) center center / cover no-repeat;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.promo__container {
  display: flex;
  justify-content: center;
}

.promo__content {
  padding: 30px 15px;
  line-height: 1.67;
  text-align: center;
}

.promo__link {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
}
.promo__link--phone {
  text-decoration: none;
}