.socials {
  text-align: center;
  margin-top: 30px;
}

.socials__list {
  display: flex;
  justify-content: center;
}

.socials__title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 12px;
}

.socials__item {
  margin-right: 10px;
}

.social__link {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #d2def3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social__link:before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../../images/sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.social__link--vk:before {
  width: 12px;
  height: 7px;
  background-position: -89px -5px;
}
.social__link--fb:before {
  width: 6px;
  height: 13px;
  background-position: -5px -5px;
}
.social__link--google:before {
  width: 15px;
  height: 9px;
  background-position: -21px -5px;
}
.social__link--twitter:before {
  width: 11px;
  height: 9px;
  background-position: -68px -5px;
}
.social__link--email:before {
  width: 12px;
  height: 9px;
  background-position: -46px -5px;
}
